.file-drop-area {
    width: calc(100% - 40px);
    max-width: 700px;
    padding: 30px;
    border: 2px dashed #cccccc;
    text-align: center;
    color: #999999;
    cursor: pointer;
}
.file-drop-area.dragover {
    background-color: #f0f0f0;
    border-color: #333333;
}
a {
    text-decoration: none;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-to-create {
    background-color: #86b7fe;
    border: 1px solid #86b7fe;
    color: #fff;
    border-radius: 7px;
}
.back-to-create:hover {
    background-color: #64a0f7;
    color: #fff;
    border: 1px solid #64a0f7;
}


/*font group*/
.font-group-item {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 23px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px 15px 20px;
    border-radius: 7px;
}
.font-group-item .font-list {
    flex-basis: 45%;
}
.font-group-item .font-name {
    flex-basis: 45%;
}
.font-group-item .action {
    flex-basis: 7%;
    text-align: right;
}
.font-group-item .action .font-group-item-delete{
    background: transparent;
    border: transparent;
    color: red;
    font-weight: 700;
    margin-bottom: 10px;
}

